body {
    max-width: 50rem;
    margin: auto;
    background-color: #eaf2f1;
}

bread {
    display: block;
    margin: 1rem .5rem 1rem 0;
}

bread > a {
    padding: .35rem .75rem;
    display: inline-block;
    border-radius: .35rem;
    text-decoration: none;
    color: #514d4d;
    margin-left: .5rem;
}

bread > a:hover {
    background-color: #dedddd8a;
}

box {
    display: block;
    padding: 1rem;
    background-color: white;
    border-radius: .65rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.09), 0 4px 6px -4px rgba(0,0,0,0.1);
}

box > * {
    display: block;
    transition: all .2s;
    margin: .25rem 0;
    user-select: none;
    line-height: 1.75rem;
    display: flex;
}

box > d:hover, box > f:hover {
    background-color: #f1f1f1;
    /* transform: scale(1.05); */
    border-radius: .25rem;
}

box a {
    text-decoration: none;
    width: 60%;
    color: inherit;
}

box > * > * {
    display: inline-block;
}

box c:nth-child(odd) {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

box c:nth-child(even) {
    width: 15%;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    font-family: system-ui;
}

h{
    font-weight: 500;
}

h > *{
    box-sizing: border-box;
    padding-left: .5rem;
}

h > hi:nth-child(1) {
    width: 60%;
    padding-left: 1.5rem;
}

h > hi:nth-child(2) {
    width: 15%;
}

h > hi:nth-child(3) {
    width: 25%;
}

f > a::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="aqua" viewBox="0 0 16 16"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/></svg>');
}
d > a::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="aquamarine" viewBox="0 0 16 16"> <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/> </svg>')
}

a::before {
    display: inline-block;
    width: 1em;
    margin: 0 .5em;
    transform: scale(1.25) translateY(10%);
}